/.gradle
/.idea
/build
/*.iml
/package-lock.json
/local.properties
/node_modules

# Logging configurations
/src/main/resources/log4j2.xml
/src/test/resources/log4j2.xml
/src/smokeTest/resources/log4j2.xml
